@model IEnumerable<AppDaTa.Models.SanPham>

@{
    ViewData["Title"] = "GetAllSanPham";
}

<h1>GetAllSanPham</h1>
<a asp-action="CreateSanPham">Create New</a>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenSP)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenSP)
            </td>
            <td>
                    <a asp-action="Create">Create New</a> |
                    @Html.ActionLink("Edit", "EditSanPham", new { id = item.IdSP })
            </td>
        </tr>
}
    </tbody>
</table>
