@model IEnumerable<AppDaTa.Models.Size>

@{
    ViewData["Title"] = "GetALlSize";
}

<h1>GetALlSize</h1>
<a asp-action="CreateSize">Create New</a>
<p>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SizeGiay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SizeGiay)
            </td>
            <td>
                <a asp-action="CreateSize">Create New</a> |
                @Html.ActionLink("Edit", "UpdateSize", new { id = item.IDSize }) 
               
            </td>
        </tr>
}
    </tbody>
</table>
