@model IEnumerable<AppDaTa.Models.HangSX>

@{
    ViewData["Title"] = "ShowAllHangSX";
}

<h1>ShowAllHangSX</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDHangSx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenHangSX)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDHangSx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenHangSX)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
