@model IEnumerable<AppDaTa.Models.HoaDonChiTiet>

@{
    ViewData["Title"] = "BillDetail";
}

<h1>BillDetail</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDHDCT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IDSPCT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDHDCT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDSPCT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
