@model AppDaTa.Models.HoaDon

@{
    ViewData["Title"] = "BillDetail";
}

<h1>BillDetail</h1>

<div>
    <h4>HoaDon</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdBill)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdBill)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDKhachHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDKhachHang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDVoucher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDVoucher)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayShip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayShip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SDTNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SDTNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiNguoiNhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiNguoiNhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
