@model AppDaTa.Models.HoaDon

@{
	ViewData["Title"] = "EditBill";
	var voucher = ViewBag.lstvocher;
	var giatri = ViewBag.Giatri;
}

<h1>EditBill</h1>

<h4>HoaDon</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditBill">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group" style="display:none;">
				<label asp-for="IdBill" class="control-label"></label>
				<input asp-for="IdBill" class="form-control" />
				<span asp-validation-for="IdBill" class="text-danger"></span>
			</div>
			<div class="form-group" style="display:none;">
				<label asp-for="IDKhachHang" class="control-label"></label>
				<input asp-for="IDKhachHang" class="form-control" />
				<span asp-validation-for="IDKhachHang" class="text-danger"></span>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="MaHD" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.MaHD)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="TenNguoiNhan" class="control-label"></label>
				</div>
				<div class="col-7">
					<input asp-for="TenNguoiNhan" class="form-control" />
					<span asp-validation-for="TenNguoiNhan" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="SDTNguoiNhan" class="control-label"></label>
				</div>
				<div class="col-7">
					<input asp-for="SDTNguoiNhan" class="form-control" />
					<span asp-validation-for="SDTNguoiNhan" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="DiaChiNguoiNhan" class="control-label"></label>
				</div>
				<div class="col-7">
					<input asp-for="DiaChiNguoiNhan" class="form-control" />
					<span asp-validation-for="DiaChiNguoiNhan" class="text-danger"></span>
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="SoLuong" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.SoLuong)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="ThanhTien" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.ThanhTien)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label>Voucher giảm giá : </label>
				</div>
				<div class="col-7">
					@giatri %

					@*Mở forrm Vocher*@
					<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
						Sử Dụng Vocher
					</button>


					<!-- Modal (Form nổi) -->
					<div class="modal fade" id="myModal"  tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog" >
							<div class="modal-content" style="width:1000px; background-color: white;">
								<div class="modal-header" >
									<h5 class="modal-title" id="myModalLabel">Form Nổi</h5>
									<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								</div>
								<div class="modal-body" >
									<table class="table">
										<thead>
											<tr>
												<th style ="display:none;">
													<span >IDVoucher</span>
												</th>
												<th>

													<span>MaVoucher</span>
												</th>
												<th style="display:none;">

													<span>NgayTao</span>
												</th>
												<th>

													<span>Dieukien</span>
												</th>
												<th>

													<span>NgayBatDau</span>
												</th>
												<th>

													<span>NgayKetThuc</span>
												</th>
												<th>

													<span>GiaTriVoucher</span>
												</th>
												<th>

													<span>Soluong</span>
												</th>
												<th>

													<span>TrangThai</span>
												</th>
												<th></th>
											</tr>
										</thead>
										<tbody>
											@foreach (var item in voucher)
											{
												<tr>
													<td style="display:none;">
														item.IDVoucher
													</td>
													<td>
														@Html.DisplayName(item.MaVoucher)
													</td>
													<td style="display:none;">
														@item.NgayTao
													</td>
													<td>
														Tổng thanh toán lớn @item.Dieukien)
													</td>
													<td>
														@item.NgayBatDau
													</td>
													<td>
														@item.NgayKetThuc
													</td>
													<td>
														Giảm @item.GiaTriVoucher %
													</td>
													<td>
														1
													</td>
													<td>
														@item.TrangThai
													</td>
													<td>
														<a href="@Url.Action("ApDungVoucher", "Account", new { IdBill = Model.IdBill, IDVoucher = item.IDVoucher})">Áp Dụng Voucher</a>
													</td>
												</tr>
											}
										</tbody>
									</table>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary">Lưu</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="form-group row">
				<div class="col-5">
					<label asp-for="TongThanhToan" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.TongThanhToan)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="NgayTao" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.NgayTao)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="NgayNhan" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.NgayNhan)
				</div>
			</div>
			<div class="form-group row">
				<div class="col-5">
					<label asp-for="NgayShip" class="control-label"></label>
				</div>
				<div class="col-7">
					@Html.DisplayFor(model => model.NgayShip)
				</div>
			</div>
			<div class="form-group" style="display:none;">
				<label asp-for="TrangThai" class="control-label"></label>
				<input asp-for="TrangThai" class="form-control" />
				<span asp-validation-for="TrangThai" class="text-danger"></span>
			</div>
			<div class="form-group">
				<button type="submit" value="Save" class="btn btn-success" onclick="return confirm('Bạn có muốn thanh toán không?');">Thanh Toán </button>
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
