@model IEnumerable<AppDaTa.Models.GioHangChiTiet>

@{
	ViewData["Title"] = "GioHangCT";
	var id = ViewBag.IDUser;
	var lst = ViewBag.lstspctmodel;

}

<h1>GioHangCT</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.IDGHCT)
			</th>
			@*<th>
			@Html.DisplayNameFor(model => model.IDGH)
			</th>*@
			<th>
				@Html.DisplayNameFor(model => model.SanPhamCT.IDSPCT)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SanPhamCT.Anh)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Gia)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.SoLuong)
			</th>
			<th>
				<span>Thành Tiền</span>
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@{
					double thanhtien = 0;
					thanhtien = (double)(item.SoLuong * item.Gia);
				}
				<td>
					@Html.DisplayFor(modelItem => item.IDGHCT)
				</td>
				@*<td>
			@Html.DisplayFor(modelItem => item.IDGH)
			</td>*@
				@*<td>
			@foreach (var spcimodel in  ViewBag.lstspctmodel)
			{
			if (item.IDSPCT == spcimodel.Id)
			{
			<span>@spcimodel.TenSanPham</span>
			}
			}
			</td>*@
				<td>
					@Html.DisplayFor(modelItem => item.IDSPCT)
				</td>
				<td>
					@foreach (var image in lst)
					{
						<img src="/images/@image.Anh?v=Kl_dqr9NVtnMdsM2MUg4qthUnWZm5T1fCEimBPWDNgM" style="height:50px ; width: 50px;">
					}
				</td>
				<td>
					<span>@(item.Gia.ToString("n0")) $</span>
				</td>

				<td>
					<form asp-controller="Account" asp-action="UpdateQuatity" method="post">
						<input type="hidden" name="IDSPCT" value="@item.IDSPCT" />
						<input type="number" name="SoLuong" value="@item.SoLuong" />
						<button type="submit" class="btn btn-primary">Cập nhật</button>
					</form>
				</td>

				<td>
					<span>@(thanhtien.ToString("n0")) $</span>
				</td>
				<td>
					<a href="@Url.Action("DeleteItem",new { id = item.IDGHCT})" onclick="return confirm('Bạn có chắc muốn xóa sản phẩm này?');" class="btn btn-danger btn-sm">Xóa</a>
				</td>
			</tr>
		}
		<hr />
	<td class="text-right">Tổng số lượng:</td>
	<td> @Model.Sum(m => m.SoLuong) </td>
	<td class="text-right">Tổng thành tiền:</td>
	<td>@Model.Sum(m => m.SoLuong * m.Gia) $ </td>
	<td>
			@*@if (Model.Sum(m => m.SoLuong) == 0)
			{
			<button asp-action="CreateBill" class="btn btn-success"  disabled>Xac Nhan</button>
			}
			else
			{*@
		@*<button asp-action="CreateBill" class="btn btn-success">Xac Nhan</button>*@
		<a asp-action="CreateBill" class="btn btn-success">Create New</a>
			@*}*@

	</td>
	</tbody>
</table>
